<!-- this loads the web components polyfill -->
<script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>

<!-- this loads the web animations polyfill -->
<script src="bower_components/web-animations-js/web-animations.min.js"></script>

<!-- this makes it easy to configure a service worker using HTML -->
<link rel="import" href="bower_components/platinum-sw/platinum-sw-elements.html">

<!-- this makes it easy to configure a firebase app worker using HTML -->
<link rel="import" href="bower_components/polymerfire/firebase-app.html">

<dom-module id="application">
<template>
<style>
</style>

</template>

  <script>
Polymer({

  is: 'application',
});
  </script>

</dom-module>