<link rel="import" href="../bower_components/note-app-elements/na-elements.html">
<link rel="import" href="../bower_components/app-storage/app-indexeddb-mirror/app-indexeddb-mirror.html">
<link rel="import" href="../bower_components/polymerfire/polymerfire.html">

<dom-module id="main-app">

  <template>

	<style include="note-app-shared-styles"></style>

	<!--  More on : https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#20 -->
	<na-toolbar signed-in="[[signedIn]]" on-sign-out="signOut"></na-toolbar>

	<!--  More on : https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#20 -->
	<na-login on-sign-in="signIn" signed-in="[[signedIn]]" disabled="[[!online]]"></na-login>

	<!--  More on : https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#17 -->
	<!--  More on : https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#20 -->
	<firebase-auth
    id="auth"
    app-name="notes"
    provider="google"
    signed-in="{{signedIn}}"
    user="{{user}}">
	</firebase-auth>

	<!--  More on : https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#22 -->
	<!--  Docs on :  https://elements.polymer-project.org/elements/paper-fab -->
	<paper-fab
    icon="add"
    on-tap="create"
    disabled="[[!online]]"
    aria-label="Add note">
	</paper-fab>

	<!--  Docs: https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#22 
	docs cont: https://github.com/PolymerLabs/note-app-elements/blob/master/na-editor.html -->
	<na-editor
    id="editor"
    note="{{editableNote}}"
    on-close="commitChange">
	</na-editor>

	<!--  Docs: https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#23 
	docs cont: https://github.com/firebase/polymerfirel -->
	<firebase-document
    id="document"
    app-name="notes"
    path="[[editableNoteId]]"
    data="{{editableNote}}">
	</firebase-document>
  </template>

  <script>
    Polymer({
      is: 'main-app',

      // more on this here: https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#19
      // and here: https://github.com/PolymerLabs/note-app-elements/blob/master/na-behavior.html
      behaviors: [Polymer.NoteAppBehavior],

      // more on this here: https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#21
      signIn: function() {
      	this.$.auth.signInWithPopup();
      },

      // https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#23
      get notesPath() {
      return '/notes/' + this.user.uid;
   	  },
      toEditableId: function(noteId) {
      return this.notesPath + '/' + noteId;
    }
    });
  </script>

</dom-module>