<link rel="import" href="../bower_components/note-app-elements/na-elements.html">
<link rel="import" href="../bower_components/app-storage/app-indexeddb-mirror/app-indexeddb-mirror.html">
<link rel="import" href="../bower_components/polymerfire/polymerfire.html">

<dom-module id="main-app">

  <template>

	<style include="note-app-shared-styles"></style>

	<!--  More on : https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#20 -->
	<na-toolbar signed-in="[[signedIn]]" on-sign-out="signOut"></na-toolbar>

	<!--  More on : https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#20 -->
	<na-login on-sign-in="signIn" signed-in="[[signedIn]]" disabled="[[!online]]"></na-login>

	<!--  More on : https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#17 -->
	<!--  More on : https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#20 -->
	<firebase-auth
    id="auth"
    app-name="notes"
    provider="google"
    signed-in="{{signedIn}}"
    user="{{user}}">
	</firebase-auth>

  </template>

  <script>
    Polymer({
      is: 'main-app',

      // more on this here: https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#19
      // and here: https://github.com/PolymerLabs/note-app-elements/blob/master/na-behavior.html
      behaviors: [Polymer.NoteAppBehavior],

      // more on this here: https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#21
      signIn: function() {
      	this.$.auth.signInWithPopup();
      }
    });
  </script>

</dom-module>